matplotlib~=3.5.1
numpy~=1.21.4
flask_socketio
flask
flask_cors
pymongo==3.12
python-decouple
bokeh
redis
pydantic
orjson
openpyxl
fastapi
uvicorn
jinja2
fastapi_socketio
aioredis
simple-websocket
motor
nest_asyncio
openpyxl
aioredis
simple-websocket
motor
